@page "{projectId:int}"
@model VLL.Web.Pages.Project.ProjectModel

@*@section Styles {
    <link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}*@

<div class="container-tool">
	<h2>@Model.ProjectAllTablesViewModel.Name</h2>

	@*<p>Project Logo / Images?</p>*@
	@*<img src="https://davemateer.com/assets/2022-05-19/1.jpg" width="200" />*@
	@*<img src="https://davemateer.com/assets/2021-10-22/email-cover.jpg" width="400" />*@

	@if (Model.CanSeeEditButton)
	{
		<p><a href="/project/edit?projectId=@Model.ProjectAllTablesViewModel.ProjectId" class="btn btn-blue">Edit</a></p>
	}

	@*<p>projectId: @Model.ProjectFullViewModel.ProjectId</p>*@

	@*	<p>Project Status: @Model.ProjectAllTablesViewModel.ProjectStatusName</p>*@

	<p>Date Created: @Model.ProjectAllTablesViewModel.DateTimeCreatedUtc.UtcToGmt().ToString("dd/MM/yyyy")</p>

	@*	<p>Is Public: @Model.ProjectFullViewModel.IsPublic</p>*@
	<p>Promoter: <a href="">@Model.ProjectAllTablesViewModel.PromoterEmail</a></p>

	<p>Short Description: @Model.ProjectAllTablesViewModel.ShortDescription</p>

	<p>Keywords: @Model.ProjectAllTablesViewModel.Keywords</p>
	<br />

	@*<p>Description: @Model.ProjectAllTablesViewModel.Description</p>*@
	<p>Description:</p>
	<p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ProjectAllTablesViewModel.Description))</p>

	<br />

	<p>Notes:</p>
	<p>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.ProjectAllTablesViewModel.ResearchNotes))</p>
</div>

<div class="container-tool">
	<h2>Project Members</h2>
	<p>Lorem ipsum</p>
	@if (Model.CanSeeEditButton)
	{
		<p><a href="/member/add?projectId=@Model.ProjectAllTablesViewModel.ProjectId" class="btn btn-blue">Add Member</a></p>
		@*<p><a href="/project/edit?projectId=@Model.ProjectAllTablesViewModel.ProjectId" class="btn btn-blue">Invite new Member</a></p>*@
	}
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Email</th>
				@*<th scope="col"></th>*@
				@* <th scope="col">Name</th>
				<th scope="col">Phone</th>
				<th scope="col">Institution</th>*@
			</tr>
		</thead>
		<tbody>
			@foreach (var p in Model.ListOfProjectMembersViewModel)
			{
				<tr>
					<td><a href="/project/">@p.Email</a></td>
					@if (Model.CanSeeEditButton)
					{
						<td><a href="/project/edit?projectId=@Model.ProjectAllTablesViewModel.ProjectId" class="btn ">Remove Member</a></td>
					}

					@*<td></td>
				<td></td>
				<td></td>*@
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="container-tool">
	<h2>Project Links</h2>
	<p>Lorem ipsum</p>
	@if (Model.CanSeeEditButton)
	{
		<p><a href="/link/create?projectId=@Model.ProjectAllTablesViewModel.ProjectId" class="btn btn-blue">Add Link</a></p>
	}
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Link</th>
				<th scope="col">Description</th>
				@*<th scope="col"></th>*@
			</tr>
		</thead>
		<tbody>
			@foreach (var p in Model.ListOfProjectLinksViewModel)
			{
				<tr>
					<td><a href="@p.Url">@p.Url</a></td>
					<td>@p.Description</td>
					@if (Model.CanSeeEditButton)
					{
						<td><a href="/link/delete?linkId=@p.LinkId" class="btn ">Remove Link</a></td>
					}
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="container-tool">
	<h2>Project Regulatory Issues</h2>
	<p>Lorem ipsum</p>
	@if (Model.CanSeeEditButton)
	{
		<p><a href="/issue/create?projectId=@Model.ProjectAllTablesViewModel.ProjectId" class="btn btn-blue">Add Issue</a></p>
	}
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Description</th>
				<th scope="col">Regulator</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var p in Model.ListOfProjectIssuesViewModel)
			{
				<tr>
					<td><a href="/issue/@p.IssueId">@p.Name</a></td>
					<td>@p.Description</td>
					<td>@p.RegulatorName</td>
				</tr>
			}
		</tbody>
	</table>
</div>



@section Scripts {
	<script src="~/js/result.js" asp-append-version="true"></script>
}


